<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9" lang="he" dir="rtl"> <![endif]-->
<!--[if IE 8]> <html class="ie8" lang="he" dir="rtl"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="" lang="he" dir="rtl"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no" />
    <title>עדכון פרטי אישיים</title>
    <link href="front/modules/update-details/assets/images/favicon.ico" rel="icon" type="image/ico" />
    <link href="front/modules/update-details/assets/styles/hsg.0.1.0.css" rel="stylesheet" type="text/css" />
    
    <!--[if lt IE 9]>
      <script src="front/modules/update-details/assets/scripts/vendors/html5shiv.min.js" type="text/javascript"></script><script src="front/modules/update-details/assets/scripts/vendors/selectivizr-min.js" type="text/javascript"></script><script src="front/modules/update-details/assets/scripts/vendors/respond.min.js" type="text/javascript"></script>
    <![endif]-->
    
  </head>
  <body class="" data-ng-app="hrl" data-ng-controller="clientDetailsController">
    
  <div class="hsg-top">
  <div class="hsg-top-container">
    <ul class="hsg-top-list">
      <li class="hsg-top-logo"><a href="#"><img alt="הראל" src="front/modules/update-details/assets/images/logo.png" /></a></li>
    </ul>
  </div>
</div>


  <div class="hsg-container">
    <!-- start of header -->
<div class="hsg-header">
  <div class="hsg-header-title">
    <h1>עדכון פרטים אישיים</h1>
  </div>
  <div class="hsg-header-actions">
  </div>
</div>
<!-- end of header -->

<!-- loader image --> 
<div class="hsg-strip" style="text-align: center;"> 
	<img src="front/modules/update-details/assets/images/Loading.gif" id="loader-img"  data-ng-show="showLoader"/>
</div>

<div class="hsg-g" data-ng-show="showDetailsSection" id="details-section" style="display: none;">
  <div class="hsg-c-12">



<div data-ng-show="showDetails">

    <!-- start of strip -->
    <div class="hsg-strip">
      <div class="hsg-strip-side">
        <h3 class="hsg-strip-title">פרטי הבקשה</h3>
      </div>
      <div class="hsg-strip-content">
        <div class="hsg-strip-body">
          <p>
            עדכון פרטי התקשרות בהראל ביטוח ופיננסים
          </p>
        </div>
      </div>
    </div>
    <!-- end of strip -->


    <!-- start of strip - update details -->
    <div class="hsg-strip">
      <div class="hsg-strip-side">
        <h3 class="hsg-strip-title">עדכון פרטים</h3>
        <h5 class="hsg-strip-sub-title">אנא וודא שפרטי ההתקשרות עמך נכונים</h5>
      </div>
      <div class="hsg-strip-content">
        <div class="hsg-strip-body">

          <form id="updateDetailsForm" name="updateDetailsForm" class="hsg-form hsg-form-horizontal">

            <div class="hsg-g hsg-g-large">
              <div class="hsg-c-small-6">

                <div class="hsg-form-group">
                  <label for="fullname">שם:</label>
                  <div class="hsg-form-text">{{name}}</div>
                </div>

                <div class="hsg-form-group">
                  <label for="email">דואר אלקטרוני: <span class="hsg-form-asterix">*</span></label>
                  <div class="hsg-form-controls">
                    <!-- <input type="email" name="email" ng-model="email" required> -->
                    <input type="email" id="email" name="email" class="inputArea" 
                    	required 
                    	data-ng-maxlength="30" 
						data-ng-pattern="EMAIL_REGEXP"
						data-maxlength="30" 
						data-ng-model="email"
						data-ng-change="onEmailChange()">
			     	<p id="email-validation-label" style="color: red;" data-ng-show="!updateDetailsForm.email.$valid && !isEmailFirstTime">* דואר אלקטרוני לא תקין</p>
                  </div>
                </div>

              </div>
              <div class="hsg-c-small-6">

                <div class="hsg-form-group">
                  <label for="uid">מספר זהות:</label>
                  <div class="hsg-form-text">{{userId}}</div>
                </div>

                <div class="hsg-form-group">
                  <label>טלפון נייד: <span class="hsg-form-asterix">*</span></label>
                  <div class="hsg-form-controls" style="height:40px;">
                    <div class="hsg-form-phone">
                     <div class="hsg-form-phone-area">
                     	<select name="areaCode" id="areaCode" class="hsg-select" 
                     		data-placeholder="בחר" 
                     		data-ng-model="selectedAreaCode" 
                     		data-ng-options="perffix.prefix for perffix in perffixes track by perffix.prefix" 
                     		data-ng-change="phonePreffixSelectionChange()">
                     		<option value="">בחר</option>
                   		</select>
                      </div>
                      <div class="hsg-form-phone-number">
                        <input type="number" id="phoneSuffix" name="phoneSuffix" class="inputArea" 
                        	required
                        	pattern="\d*"
							data-ng-model="phoneSuffix" 
							data-ng-maxlength="7"  
							data-ng-minlength="7"
							data-ng-change="onSuffixChange()">
                      </div>
                    </div>
                  </div>
				  <p id="phone-suffix-validation-label" style="color: red;" data-ng-show="!updateDetailsForm.phoneSuffix.$valid && !isSuffixFirstTime">* מספר לא תקין</p>
				  <p style="color: red;" data-ng-show="!isPhonePreffixValid && !isPreffixFirstTime">* קידומת לא תקינה</p>
                </div>

              </div>
            </div>

            <hr>

            <h5 class="hsg-text-primary-1">כתובת</h5>
			<p id="city-validation-label" style="color: red;" data-ng-show="!updateDetailsForm.cityName.$valid && !isCityFirstTime">* עיר לא תקינה</p>
			<p id="street-name-validation-label" style="color: red;" data-ng-show="!updateDetailsForm.streetName.$valid && !isStreetNameFirstTime">* שם רחוב לא תקין</p>
			<p id="street-number-validation-label" style="color: red;" data-ng-show="!updateDetailsForm.streetNumber.$valid && !isStreetNumberFirstTime">* מספר בית לא תקין</p>
			<p id="zip-code-validation-label" style="color: red;" data-ng-show="!updateDetailsForm.zipCode.$valid && !isZipCodeFirstTime">* יש להזין מיקוד תקין</p>
			
            <div class="hsg-g hsg-g-large">
              <div class="hsg-c-small-6">

                <div class="hsg-form-group">
                  <label for="address">עיר: <span class="hsg-form-asterix">*</span></label>
                  <div class="hsg-form-controls">
                    <input type="text" name="cityName" id="cityName" 
                    	required
                    	data-ng-model="cityName"
					    data-ng-change="onCityChange()">                    
                  </div>
                </div>

                <div class="hsg-form-group">
                  <label for="house">מספר בית: <span class="hsg-form-asterix">*</span></label>
                  <div class="hsg-form-controls">
                    <input type="number" name="streetNumber" id="streetNumber"
                    	required 
                    	data-ng-model="streetNumber"
						data-ng-change="onStreetNumberChange()">
                  </div>
                </div>

		
              </div>


              <div class="hsg-c-small-6">

                <div class="hsg-form-group">
                  <label for="street">רחוב: <span class="hsg-form-asterix">*</span></label>
                  <div class="hsg-form-controls">
                    <input type="text" name="streetName" id="streetName" 
                    	required 
                    	data-ng-model="streetName"
						data-ng-change="onStreetNameChange()">
                  </div>
                </div>

                <div class="hsg-form-group">
                  <label for="zipcode">מיקוד: <span class="hsg-form-asterix">*</span></label>
                  <div class="hsg-form-controls">
                    <input type="number" name="zipCode" id="zipCode"
                    	required 
                       	pattern="\d*"  
						data-ng-minlength="5"
						data-ng-maxlength="7" 
                    	data-ng-model="zipCode"
						data-ng-change="onZipCodeChange()">
                  </div>
                </div>

              </div>
            </div>

            <hr>

            <div class="hsg-g" data-ng-show="showActivation">
              <div class="hsg-c-12">
                <span class="hsg-custom-input">
                  <input type="checkbox" id="IdCheckbox1" data-ng-model="isActivationChecked">
                  <label for="IdCheckbox1">
                    על מנת שתוכל ליהנות משירות מיטבי ולקבל הצעת לרכישת מוצרי חברות בקבוצת הראל,
                    אנא אשר כי נוכל לפנות אליך בכל האמצעים שתמסור לנו ולהעביר פרטיך בקרב חברות
                    בקבוצת הראל בלבד.
                    <a href="#terms" data-hsg-modal data-ng-click="onActivationTermsFocus()">למידע נוסף</a>
                  </label>

                </span>
              </div>
            </div>

            <div class="hsg-g" data-ng-show="showAnnualMailing">
              <div class="hsg-c-12">
                <span class="hsg-custom-input">
                  <input type="checkbox" id="IdCheckbox2" data-ng-model="isAnnualMailingChecked">
                  <label for="IdCheckbox2">
                  כדי שנוכל להמשיך ולהעביר אליך דוחות שוטפים באמצעות דואר אלקטרוני, נא אשר את ההצהרה המצורפת:   <br/>           
                    אני מסכים כי הדוח השנתי שאני מקבל מכל החברות המנהלות בקבוצת הראל ביטוח ופיננסים בע"מ ישלחו אליי לדואר האלקטרוני שמסרתי וזאת במקום באמצעות דואר ישראל
(הדוחות יועברו לכתובת הדואר האלקטרוני שממנה הועבר מכתבנו זה, ניתן לעדכן את כתובת הדואר האלקטרוני בכל זמן באמצעות האתר).
                  </label>
                </span>
              </div>
            </div>

          </form>

		<div class="hsg-g">
              <div class="hsg-c-12">
                <span class="hsg-custom-input">
                	* פרטי הלקוח יעודכנו בכל התחומים שמופיעים מטה.
				</span>
			</div>
		</div>

        </div>
      </div>
    </div>
    <!-- end of strip -->


    <!-- start of strip - request details -->
    <div class="hsg-strip">
      <div class="hsg-strip-side">
        <h3 class="hsg-strip-title">צפייה בפרטים</h3>
      </div>
      <div class="hsg-strip-content">
        <div class="hsg-strip-body">
			
			<div data-ng-repeat="topic in topicsList">
				<div data-ng-if="topic.topicId == 10 || 
								topic.topicId == 30 || 
								topic.topicId == 60 || 
								topic.topicId == 70">
								
			          <!-- start of Section X details -->
			          <h5 class="hsg-text-primary-1">{{topic.topicName}}</h5>
			          <div class="hsg-g hsg-g-large">
			            <div class="hsg-c-small-6">
			              <dl class="hsg-dl-horizontal hsg-dl-horizontal-large">
			                <dt>שם:</dt>
			                <dd>{{topic.firstName}} {{topic.lastName}}<span style="visibility:hidden;"><span style="visibility:hidden;">-</span></span></dd>			             
			                <dt>דואר אלקטרוני:</dt>
			                <dd>{{topic.email}}<span style="visibility:hidden;">-</span></dd>
			              </dl>
			            </div>
			            <div class="hsg-c-small-6">
			              <dl class="hsg-dl-horizontal hsg-dl-horizontal-large">
			                <dt>כתובת:</dt>
			                <dd>{{topic.cityName}} {{topic.streetNumber}} {{topic.streetName}}, {{topic.zipCode}}</dd>			              
			                <dt>טלפון:</dt>
			                <dd data-ng-if="topic.phoneType == 3">{{topic.phonePreffix}}-{{topic.phoneNumber}}</dd>
			                <dd data-ng-if="topic.phoneType != 3"><span style="visibility:hidden;">-</span></dd>			               
			              </dl>
			            </div>
			          </div>
			          <!-- end of Section X details -->
			
			          <hr>
			          
	          	</div>
	       	</div>
          
        </div>
      </div>
    </div>
    <!-- end of strip -->
</div>
<!--  end of data-ng-show="showDetails" -->

  </div>
</div>


<!-- start of actions -->
<div class="hsg-actions-strip hsg-form" data-ng-show="showActionSection" id="action-section" style="display: none;">

  <div class="hsg-actions-strip-content">
    <div class="hsg-actions-strip-text">
      <span class="hsg-custom-input">
        <input type="checkbox" id="IdCheckbox" data-ng-show="false">
        <label for="IdCheckbox" data-ng-show="false">קראתי והסכמתי</label>
        <a href="#terms" data-hsg-modal data-ng-show="false">לפרטי ההצהרה</a>
      </span>
    </div>
    <div class="hsg-actions-strip-actions hsg-text-left">
      <a href="#" id="undo-chanes-btn" data-ng-click="undoChanges()">ביטול שינויים</a>
      <button class="hsg-button hsg-button-primary" id="update-submit-btn"
      	data-ng-click="submitUpdateForm()">אשר ושלח בקשה</button>
      	 <!-- data-ng-disabled="!updateDetailsForm.$valid" -->
    </div>
  </div>

</div>
<!-- end of actions -->




<!-- start of terms modal -->
<div id="terms" class="hsg-modal">
  <div class="hsg-modal-dialog">
    <div class="hsg-modal-header">
      <h2>פרטי הצהרה</h2>
      <i class="hsg-icon-modal-close hsg-modal-close"></i>
    </div>
    <div class="hsg-modal-content">
      <p>
		  על מנת לשפר ולייעל את השירות שיינתן לך על-ידי החברה וקבוצת הראל ביטוח ופיננסים כולה (להלן : "הראל"), הראל מעוניינת לרכז את כלל הנתונים אודותייך המצויים בידי חברות קבוצת הראל במאגר אחד מרכזי, באופן שיאפשר לנו לספק לך שירות יעיל ומקיף לכלל מוצרי הביטוח, הפנסיה והפיננסים של הראל שברשותך ובין היתר, להציע לך הצעות עסקיות ושיווקיות המותאמות יותר לצרכיך ולטעמיך, אודות מוצרים ביטוחיים, פנסיוניים או פיננסיים משלימים לאלו שאתה כבר נהנה מהם כיום בהראל.
      </p>
    </div>
    <div class="hsg-modal-header hsg-text-left">
      <h2></h2>
      <button class="hsg-button hsg-button-success"  id="approve-activation-btn"
	      	data-ng-click="activationApproveBtnClick()" >אשר</button>
    </div>
    <div>    	
    </div>
  </div>
</div>
<!-- end of terms modal -->




    <!-- start of success strip -->
    <div class="hsg-strip hsg-strip-success" id="update-success-strip" data-ng-show="showSuccess" style="display: none;">
      <div class="hsg-strip-side">
        <h3 class="hsg-strip-title">תודה על פנייתך</h3>
      </div>
      <div class="hsg-strip-content">
        <div class="hsg-strip-body">
          <h2 class="hsg-text-success hsg-margin-remove hsg-visible-large">תודה על פנייתך</h2>
          <p class="hsg-h5 hsg-text-success hsg-margin-remove">
            פרטי הבקשה נקלטו והועברו להמשך טיפול
          </p>
        </div>
      </div>
    </div>
    
  </div>

  <div class="hsg-footer">
    <div class="hsg-footer-container">
      <ul class="hsg-footer-links">
        <li><a href="https://www.harel-group.co.il/wps/portal/harelservice/contact">צור קשר</a></li>
        <li><a href="https://www.group.co.il/wps/portal/TermsOfUse">תנאי שימוש</a></li>
        <li><a href="https://www.harel-group.co.il/wps/portal/Privacy">שמירת פרטיות ואבטחה</a></li>
        <li><a href="https://www.harel-group.co.il/wps/portal/About">אודות הראל</a></li>
      </ul>
    </div>
  </div>




    <div class="hsg-app-bg"></div>
    <script src="front/modules/update-details/assets/scripts/vendors/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="front/modules/update-details/assets/scripts/hsg.0.2.0.js" type="text/javascript"></script>
    
    <!-- Angular files -->
    <script src="front/lib/angular.js"></script>
    <script src="front/lib/angular-cookies.js"></script>     
	<script src="front/app.js"></script>
	
	<!-- App files -->
	<script src="front/modules/update-details/controller/clientDetailsController.js"></script>
	<script src="front/modules/update-details/service/clientDetailsFactory.js"></script>
	
	<!-- Common utils files -->
	<script src="front/common/utils.js"></script>
	
    <!--[if lt IE 9]> <script src="front/modules/update-details/assets/scripts/vendors/jquery.html5-placeholder-shim.js" type="text/javascript"></script> <![endif]-->
    
  </body>
</html>
